
nav {
  height: 80px;
  width: auto;
  background-color: white;
  font-size: 20px;
}

.pic {
  position: relative;
}

.pick-1 {
  position: absolute;
  top: 20px;
  right: 250px;
}

.pick-2 {
  position: absolute;
  top: 80px;
  right: 325px;
}

.pick-3 {
  position: absolute;
  top: 115px;
  right: 265px;
}

.button2 {
  position: absolute;
  top: 155px;
  right: 320px;
  width: 150px;
  height: 40px;
  font-size: 22px;
}

img {
  height: 400px;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-decoration: none;
}

.bear {
  margin-top: 15px;
  margin-left: 30px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: flex-start;
}

.no {
margin-top: 15px;
font-size: 40px;
}

.home {
  margin: 25px;
  margin-left: 40px;
  font-size: 20px;
}

.market {
  margin: 25px;
  font-size: 20px;
}

.win {
  margin: 25px;
  font-size: 20px;
}

.lose {
  margin: 25px;
  font-size: 20px;
}

.stock {
  margin: 25px;
  font-size: 20px;
}

input {
  margin: 25px;
  height: 22px;
  border-radius: 15px;
  font-size: 15px;
  text-align: center;
  background-color: #b3bfc926;
  }
  
  button {
  margin: 25px 0px 0px 0px;
  height: 25px;
  width: 150px;
  border-radius: 25px;
  font-size: 15px;
  margin-right: 20px;
  background-color: #065cb7;
  color: white;
  }

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  text-align: left;
}

.item {
text-align: center;
height: 220px;
width: 230px;
padding: 30px 20px 39px;
margin: 0px 20px 0px 0px;
border-style: solid;
text-align: left;
}

.item-4 {
  background-color: #2aa4f0;
}

.list {
  display: flex;
  flex-direction: row;
  padding: 20px;
  text-align: left;
}
.list-1 {
  border-style: solid;
  height: 50px;
  width: 230px;
  padding: 30px 20px 39px;
  margin: 0px 20px 20px 0px;
  border-style: solid;
}
.list-2 {
  border-style: solid;
  height: 50px;
  width: 230px;
  padding: 30px 20px 39px;
  margin: 0px 20px 20px 0px;
  border-style: solid;
}
.list-3 {
  border-style: solid;
  height: 50px;
  width: 230px;
  padding: 30px 20px 39px;
  margin: 0px 20px 20px 0px;
  border-style: solid;
}
.list-4 {
  border-style: solid;
  height: 50px;
  width: 230px;
  padding: 30px 20px 39px;
  margin: 0px 20px 20px 0px;
  border-style: solid;
}

.side {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 0px 0px 910px;
  text-align: center;
}

.side-2 {
text-align: center;
height: 300px;
width: 230px;
padding: 30px 20px 39px;
margin: 0px 20px 20px 0px;
border-style: solid;
}

.side-3 {
  text-align: center;
  height: 220px;
  width: 230px;
  padding: 30px 20px 39px;
  border-style: solid;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 600px
  text-align: left;
}

.bottom-1 {
text-align: center;
height: 220px;
width: 230px;
padding: 30px 20px 39px;
margin: 0px 20px 0px 0px;
border-style: solid;
text-align: left;
}

.bottom-2 {
text-align: center;
height: 220px;
width: 230px;
padding: 30px 20px 39px;
margin: 0px 20px 0px 0px;
border-style: solid;
text-align: left;
}

.bottom-3 {
text-align: center;
height: 220px;
width: 230px;
padding: 30px 20px 39px;
margin: 0px 20px 0px 0px;
border-style: solid;
text-align: left;
}


#Image {
  margin-top: 10px;
  height: 400px;
  margin-left: atuo;
  margin-right: auto;
  width: auto;
  background-color: white;
}

.stats {
text-align: left;
}

/* this is where market CSS begins */

.data {
  background-color: red;
  border-style: solid;
}

.symbol {
  color: #FFFAFA;
  font-family: OpenSans-Light; 
}

.stats {
  color: #FFFAFA;
  display: flex;
  flex-direction: column;
  margin-left: 55%;
  margin-top: -15%;
}

.stats2 {
  color: #FFFAFA;
  display: flex;
  flex-direction: column;
  margin-left: 78%;
  margin-top: -21.7%;
}

.price {
  font-size: 30px;
  color: #FFFAFA;
}

.combine {
  color: #FFFAFA;
  display: flex;
  flex-direction: row;
  justify-content: flex-start space-inbetween;
  margin-top: 1%;
  
}




